[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=NodeChecker
Exec=/opt/NodeChecker/bin/NodeChecker
Icon=NodeChecker
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
